@import url("https://fonts.googleapis.com/css?family=Arvo|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap");

.link {
	height: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.link, h3 {
	font-family: 'Arvo', serif;
}

.about-me, .contact-container p,  
.page-description, .skill-description, 
.contact-text, .footer-name {
	font-size: 1.1em;
}


.link {
	font-size: 2em;
	font-weight: 300;	
}

.footer-nav .link {
	font-size: 1.2em;
	font-weight: 300;
}

.page-logo {
	margin-left: 2em;
	max-width: 90%;
	color: #2c3840;
	font-family: 'Big Shoulders Text', cursive;
	font-size: 5em;
	margin-top: 0;
	margin-bottom: 0;
}


/*HEADER LAYOUT*/

header {
	display: flex;
	align-items: center;
}

#name-header {
	color: #e67e00;
	font-family: 'Big Shoulders Text', cursive;
	font-size: 3em;
	margin: 0 auto 0 1em;
}

header ul {
	display: flex;
	flex-direction:row;
} 

.link {
	display: block;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 300;
	padding: .5em  .5em 0 .5em;
	box-sizing: border-box;
	padding: .5em;
}

.link p {
	transition: border .25s;
}

.link p:hover {
	color: #e67e00;
	border-bottom: 10px solid #e67e00;
}


.nav-buttons {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 1em;
}

.nav-buttons li {
	list-style: none;
	margin-left: 1em;
	margin-right: 1em;
}

/* HOME */
.resume-button-container {
	display: flex;
	flex-direction: column
}

.resume-button {
	width: 2em;
	text-decoration: none;
    font-size: 1em;
	/* padding: .5em .75em;  */
	color: #e67e00;	
}

/*PROFILE LAYOUT*/

.profile {
	text-align: center;
	-webkit-box-shadow: -2px 4px 7px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 4px 7px 2px rgba(0,0,0,0.75);
	box-shadow: -2px 4px 7px 2px rgba(0,0,0,0.75);
}

.profile-picture{
	padding-top: 1em;
	padding-bottom: 1em;
	height: 250px;
	width: 250px;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
}

.about-me{
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width:80%;
	padding-top: 1em;
	padding-bottom: 1em;
}

/*COLOR*/

p, a, .link, li, h3 {
	color:seashell;
	text-decoration: none;
}

body {
	min-height: 100vh;
	background: linear-gradient( 180deg, white, #AFEEEE);
}

 header, .profile, .item, .home-item, .skills-container, .profile, #skills, .contact {
	background-color: #2c3840;
}

.footer-nav a, .footer-nav p {
	color: black;
}

/*RESPONSIVE*/

@media (min-width: 768px) {
	

	/*RESPONSIVE PROFILE*/
	
	.profile {
		display:flex;
		flex-direction: row-reverse;
		max-width: 95%;
		margin-left: auto;
		margin-right: auto; 
		-webkit-box-shadow: -2px 4px 7px 2px rgba(0,0,0,0.75);
		-moz-box-shadow: -2px 4px 7px 2px rgba(0,0,0,0.75);
		box-shadow: -2px 4px 7px 2px rgba(0,0,0,0.75);
		border-radius: 5px;
	}
	
	.profile-picture {
		margin-left: auto;
		margin-right: auto;
		padding-right: 1em;
	}

	.about-me {
		font-style: italic;
		display: block;
		font-size: 1.5em;
		text-align: left;
		padding-right: 5%;
		padding-left: 5%;
	}

	/*RESPONSIVE FOOTER*/

	.contact {
		max-width: 95%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 5px;
		-webkit-box-shadow: -2px 4px 7px 2px rgba(0,0,0,0.75);
		-moz-box-shadow: -2px 4px 7px 2px rgba(0,0,0,0.75);
		box-shadow: -2px 4px 7px 2px rgba(0,0,0,0.75);
	}
	
	.mobile-buttons {
		display: none;
	}

	.footer-item {
		display: inline;
	}

	.to-top {
		display: none;
	}

}

@media(max-width: 500px) {
	.page-logo {
		margin-left:auto;
		margin-right: auto;
	}
}

@media (min-width: 1060px) {
	
	.wrapper {
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;
	}

	.about-me {
		font-size: 1.75em;
	}

	.item {
		width: 350px;
		margin-left: 1em;
		margin-right: 1em
	}
	
}



